DKIM_Verifier.AuthVerifier Parsing error

Hi,

got another error:
Zeitstempel: 30.09.2015 22:57:46
Fehler: 2015-09-30 22:57:46	DKIM_Verifier.AuthVerifier	ERROR	Error: Parsing error (resource://dkim_verifier/ARHParser.jsm:249) JS Stack trace: match@ARHParser.jsm:249:1 < parseResinfo@ARHParser.jsm:186:14 < _ARHParser_parse@ARHParser.jsm:161:21 < getARHResult@AuthVerifier.jsm:161:10 < _authVerifier_verify/promise<@AuthVerifier.jsm:103:17

Quelldatei: resource://gre/modules/Log.jsm
Zeile: 749

Header:
Authentication-Results: mail.xxx.de; dkim=pass
	reason="1024-bit key; unprotected key"
	header.d=facebookmail.com header.i=@facebookmail.com
	header.b=cwU1/dak; dkim-atps=neutral
X-Spam-Level: 
X-Spam-Status: No, score=-2.3 required=6.3 tests=BAYES_00,DKIM_SIGNED,
	DKIM_VALID,DKIM_VALID_AU,DKIM_VERIFIED,HTML_MESSAGE,RDNS_DYNAMIC,
	UNPARSEABLE_RELAY,URIBL_BLOCKED autolearn=ham version=3.3.2
DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/simple; d=facebookmail.com;
	s=s1024-2013-q3; t=1443646501;
	bh=tjTPk1/T+XuaDGifjLmJBTlrKSnLTtxkkAU7akYW3vU=;
	h=Date:To:Subject:From:MIME-Version:Content-Type;
	b=cwU1/dak/uH82oM3fkl5glV7IHScKtstQ3VA8V5IDHLLZtJi7d/4mVtfbP5bHk+aA
	 FO5e60by430wloGiuo3QslSyr/pe/sR82RbkQtjdxEUWRAj+go9lVXN8wncm8BCqqc
	 pdL8DkGU0X1KIOfpl9HaPyP+CttqReZEc0n6N+8g=


hm, i updated to opendkim from 2.6.8 to 2.8.3

before, the header looked like (new line before 'dkim=pass'):

Authentication-Results: mail.xxx.de;
	dkim=pass (1024-bit key; insecure) header.d=facebookmail.com header.i=@facebookmail.com header.b=T6YSrGy1;
	dkim-atps=neutral

Thanks again for reporting. I looked into it, and this time it seems not to be a bug in the add-on as the Authentication-Results header has an invalid syntax.

The problem is the `/` in `header.b=cwU1/dak`, which is not allowed at the right side of the equal sign unless in a quoted-string.

I could add an option to ignore this if needed. But i would prefer if this gets fixed in opendkim.

Here is the exact syntax of that is allowed at the right side of the equal sign (`pvalue`), in case you are interested:
```
RFC 7601 Section 2.2:

     pvalue = [CFWS] ( value / [ [ local-part ] "@" ] domain-name )
              [CFWS]
            ; the value extracted from the message property defined
            ; by the "ptype.property" construction

RFC 2045 Section 5.1:

     value := token / quoted-string

     token := 1*<any (US-ASCII) CHAR except SPACE, CTLs,
                 or tspecials>

     tspecials :=  "(" / ")" / "<" / ">" / "@" /
                   "," / ";" / ":" / "\" / <">
                   "/" / "[" / "]" / "?" / "="
                   ; Must be in quoted-string,
                   ; to use within parameter values
```

I have opened a bug for this for [opendkim](https://sourceforge.net/p/opendkim/bugs/235/)

Will be fixed in the next version of opendkim (which should be 2.11.0).

In case this is still an issue for you: The new pre release v2.0.0pre4 has now an advanced option for relaxed parsing of the ARH.