DKIM: Selector tag is ill-formed

As stated in https://bugzilla.mozilla.org/show_bug.cgi?id=1521374 I do wonder why the DKIM verifier gives  "DKIM Valid (signed by zwiebeltoralf)" if I hovered over the yellow tag?

The selector tag (`s=default_1807`) contains an underscore, which is not allowed according to the DKIM [RFC 6376](https://tools.ietf.org/html/rfc6376). As this does not have a security impact, the add-on still accepts them by default, and only gives a waring. The warning can be disabled by the [`Treat ill-formed AUID tag as`](https://github.com/lieser/dkim_verifier/wiki/Options#treat-ill-formed-selector-tag-as) advanced option of the add-on.

In case you or someone else is interested in the details, see below for my reasoning of why the underscore is not allowed.

---
Reasoning for why the underscore is not allowed in the selector tag:

ABNF of the selector according to [section 3.1 of RFC6376](https://tools.ietf.org/html/rfc6376#section-3.1):
````
selector =   sub-domain *( "." sub-domain )
````
According to [section 2.9 of RFC 6376](https://tools.ietf.org/html/rfc6376#section-2.9) the token `sub-domain` is imported from [RFC 5321](https://tools.ietf.org/html/rfc5321).

This means a selector is 1-N `sub-domain` (defined according to RFC 5321)
separated by a `.`. The "defined according to RFC 5321" is the crucial part. Although underscores are allowed in the DNS, the [RFC 5321](https://tools.ietf.org/html/rfc5321) does not allow underscores in it's definition of `sub-domain`.

From [section 4.1.2 of RFC 5321](https://tools.ietf.org/html/rfc5321#section-4.1.2):
````
sub-domain     = Let-dig [Ldh-str]
Let-dig        = ALPHA / DIGIT
Ldh-str        = *( ALPHA / DIGIT / "-" ) Let-dig
````
> Terminals not defined in
> this document, such as ALPHA, DIGIT, SP, CR, LF, CRLF, are as defined
> in the "core" syntax in Section 6 of RFC 5234

And from [the appendix B.1 of RFC 5234](https://tools.ietf.org/html/rfc5234#appendix-B.1):
````
ALPHA = %x41-5A / %x61-7A   ; A-Z / a-z
DIGIT = %x30-39             ; 0-9
````

