Display the public certificate

Festure request: It would be nice to add the possibility to see the public certificate of the sender by double clicking on the `DKIM: valid` line of the e-mail.

Question: Is the certificate stored in the e-mail itself or is it found online?

I think you are misunderstanding something. DKIM is not using any certificates. It is just using asymmetric keys, with the public part being published in DNS TXT records. Where exactly in the DNS the key is stored is part of the DKIM signature (SDID (d-tag) + selector (s-tag)). The e-mail itself does not contain any DKIM related keys.

The signing domain (SDID) is already shown, the selector is in my opinion irrelevant for the end user.

Maybe take a lock at https://en.wikipedia.org/wiki/DKIM#Verification, which very briefly describes the verification process.

Doesn't the public key have other fields in addition of 
signing domain?
It would be nice, if possible, to display them in the graphical interface (like start date and expiration date).

Also since start date and expiration date make sense compared to the date when the e-mail is received, not when it isdisplayed so it make sense to cache also this.
If the e-mail is sent when the public key start date isn't yet valid but it is displayed when it is valid then it si considerated valid also if, in my opinion, shouldn't be and viceversa.

Yes, the DKIM key contains also other data besides the RSA key (some of them optional). Most of it is also used by the add-on internally. But nothing that I think is worth to directly expose in the GUI.  
[Section 3.6 of RFC 6376]( https://tools.ietf.org/html/rfc6376#section-3.6) contains a description of all the date contained in the DKIM key.

Something like start date or expiration date is not part of the data contained in the DKIM key.

The DKIM signature itself can contain optionally a signature creation and expiration date. But I haven't seen many domains actually providing this information.
Both are already checked during verification if available. The expiration date could possibly be shown additionally in the GUI. But I don't think the exact date brings any valuable information. And if the signature is expired, the add-on will already warn about it.




Closing this for now. Please reopen this if you still think there is some additional data in the DKIM key that you would like to be exposed in the GUI.